@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');

body {
  font-family: "FuturaLightC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background-color: #E3DED2;
}

*{
    transition: all .3s ease;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  height: 65vw;
  justify-content: center;
  position: relative;
  /* margin-bottom: 30px; */
}

.motto {
  align-self: center;
  width: 70vw;
  margin-top: 30px;
  /* margin-top: 30px; */
  /* position: absolute; */
}

footer {
  display: flex;
  /* position: absolute; */
  align-self: center;
  flex-direction: column;
  margin-top: 70px;
  width: 60%;
}
.step1, .step3 {
  display: flex;
  flex-direction: row;
}

.step2 {
  display: flex;
  flex-direction: row-reverse;
}

h2 {
  font-size: 270px;
  font-family: 'PT Mono', monospace;
  color: #C01917;
  opacity: 0.6;
  font-weight: bold;
}

h3{
  font-size: 40px;
  align-self: flex-end;
  margin-bottom: 35px;
  margin-left: 13px;
}
h3.rightside {
  margin-right: 13px;
  width: 90%;
}

h4 {
  letter-spacing: 2px;
  align-self: flex-start;
  margin-left: 108px;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 35px;
  line-height: 25px;
  letter-spacing: 2px;
  opacity: 0.3;
  text-align: center;
}

a {
  font-weight: bold;
  padding-top: 10px;
  font-style: bold;
  color: #BC0100;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* h2 {
  font-size: 16px;
  opacity: 0.6;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 20px;
} */

main .headertext {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -160px;
  /* margin-top: 30px; */
}

.headertext img {
  align-items: center;
  width: 100%;
  /* margin-top: 55%; */
}

.box1 {
  position: absolute;
  top: 5%;
  left: 10%;
}
.box1 img {
 width: 36%;
}
/* jump */
.box2 {
  z-index: 6;
  position: absolute;
  top: 15%;
  left: 40%;
}
.box2 img {
 width: 50%;
}

/*  cat*/
.box3 {
  position: absolute;
  top: 4%;
  left: 60%;
  z-index: 4;
}
.box3 img{
 width: 90%;
}

/* girl */
.box4 {
  /* transform: rotate(195deg); */
  position: absolute;
  z-index: 7;
  top: 10%;
  left: 30%;
}
.box4 img {
 width: 35%;
}
/* .box5 {
  transform: rotate(55deg);
  position: absolute;
  top: 25%;
  left: 40%;
} */


/* sunrise */
.box6 {
  transform: rotate(35deg);
  z-index: -20;
  position: absolute;
  top: 15%;
  left: 40%;
}
.box6 img {
  width: 90%;
  /* height: 600px; */
}

/* piano */
.box7 {
  /* transform: rotate(180deg); */
  z-index: -30;
  position: absolute;
  top: 20%;
  left: 8%;
}
.box7 img {
  width: 54%;
  /* height: 700px; */
}
/* water */
.box8 {
  z-index: 5;
  position: absolute;
  top: 5%;
  left: 45%;
}
.box8 img {
 width: 50%;
}
.box9 {
  z-index: 5;
  position: absolute;
  right: 3%
}
.box9 img {
  width: 105%;
}

.blockquote {
  display: flex;
  align-self: center;
  flex-direction: row;
}
.PeterWare  {
  width: 40%;
}
img.creator  {
  width: 58%;
  margin-top: -40px;
  display: flex;
  align-self: flex-start;
}
.creator {
  display: flex;
  flex-direction: column;
}
.lastwords {
  align-self: center;
  padding-right: 29px;
  line-height: 25px;
  font-size: 23px;
}
.lastwords p {
  line-height: 35px;
  font-size: 28px;
}

/* ------------------------------------------------------------------------- */

@media all and (max-width: 768px) and (min-width: 200px) {

  .content {
    height: 95vw;
  }
    /* feet */
  .box1 {
    transform: rotate(10deg);
    /* position: absolute; */
    top: -2%;
    left: -5%;
  }
  .box1 img {
   width: 57%;
  }
  /* jump */
  .box2 {
    z-index: 8;
    position: absolute;
    top: 19%;
    left: 24%;
  }
  .box2 img {
   width: 86%;
  }

  /*  cat*/
  .box3 {
    position: absolute;
    top: -10%;
    left: 37%;
    z-index: 4;
  }
  .box3 img{
   width: 150%;
  }

  /* girl */
  .box4 {
    /* transform: rotate(350deg); */
    position: absolute;
    z-index: 8;
    top: 7%;
    left: 13%;
  }
  .box4 img {
   width: 52%;
  }
  /* .box5 {
    transform: rotate(55deg);
    position: absolute;
    top: 25%;
    left: 40%;
  } */


  /* sunrise */
  .box6 {
    transform: rotate(35deg);
    z-index: -40;
    position: absolute;
    top: 4%;
    left: 15%;
  }
  .box6 img {
    width: 136%;
    /* height: 600px; */
  }

  /* piano */
  .box7 {
    /* transform: rotate(350deg); */
    z-index: -30;
    position: absolute;
    top: 4%;
    left: -27%;
  }
  .box7 img {
    width: 86%;
    /* height: 700px; */
  }
  /* water */
  .box8 {
    z-index: 5;
    position: absolute;
    top: 4%;
    left: 33%;
  }
  .box8 img {
   width: 61%;
  }
  .box9 {
    z-index: 7;
    position: absolute;
    top: 1%;
    left: -61%;
  }
  .box9 img {
    width: 138%;
    /* transform: rotate(10deg); */
  }
  .headertext img {
    margin-top: 170px;
    width: 90%;
    align-items: center;
  }
}
