@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');

body {
  font-family: "FuturaLightC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background-color: #E3DED2;
}

*{
    transition: all .3s ease;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  height: 65vw;
  justify-content: center;
  position: relative;
  /* margin-bottom: 30px; */
}

.motto {
  align-self: center;
  width: 70vw;
  margin-top: 10px;
  /* margin-top: 30px; */
  /* position: absolute; */
}

footer {
  display: flex;
  /* position: absolute; */
  align-self: center;
  flex-direction: column;
  margin-top: 70px;
  width: 60%;
}
.step1, .step3 {
  display: flex;
  flex-direction: row;
}

.step2 {
  display: flex;
  flex-direction: row-reverse;
}

h2 {
  font-size: 270px;
  font-family: 'PT Mono', monospace;
  color: #C01917;
  opacity: 0.6;
  font-weight: bold;
}

h3{
  font-size: 40px;
  align-self: flex-end;
  margin-bottom: 35px;
  margin-left: 13px;
}
h3.rightside {
  margin-right: 13px;
  width: 90%;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  opacity: 0.3;
  text-align: center;
}

a {
  font-weight: bold;
  padding-top: 10px;
  font-style: bold;
  color: #BC0100;
  text-decoration: none;
}

a:hover {
  color: black;
}

/* h2 {
  font-size: 16px;
  opacity: 0.6;
  flex-grow: 1;
  text-align: center;
  margin-bottom: 20px;
} */

main .headertext {
  /* position: absolute; */
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: -200px;
  /* margin-top: 30px; */
}

.headertext img {
  align-items: center;
  width: 100%;
  /* margin-top: 55%; */
}

.box1 {
  position: absolute;
  top: 5%;
  left: 10%;
}
.box1 img {
 width: 36%;
}
/* jump */
.box2 {
  z-index: 6;
  position: absolute;
  top: 15%;
  left: 40%;
}
.box2 img {
 width: 50%;
}

/*  cat*/
.box3 {
  position: absolute;
  top: 4%;
  left: 60%;
  z-index: 4;
}
.box3 img{
 width: 90%;
}

/* girl */
.box4 {
  /* transform: rotate(195deg); */
  position: absolute;
  z-index: 7;
  top: 10%;
  left: 30%;
}
.box4 img {
 width: 35%;
}
/* .box5 {
  transform: rotate(55deg);
  position: absolute;
  top: 25%;
  left: 40%;
} */


/* sunrise */
.box6 {
  transform: rotate(35deg);
  z-index: -20;
  position: absolute;
  top: 15%;
  left: 40%;
}
.box6 img {
  width: 90%;
  /* height: 600px; */
}

/* piano */
.box7 {
  /* transform: rotate(180deg); */
  z-index: -30;
  position: absolute;
  top: 15%;
  left: 11%;
}
.box7 img {
  width: 64%;
  /* height: 700px; */
}
/* water */
.box8 {
  z-index: 5;
  position: absolute;
  top: 5%;
  left: 45%;
}
.box8 img {
 width: 50%;
}
.box9 {
  z-index: 5;
  position: absolute;
  left: -5%;
  top: 6%;
  width: 110%;
}

img.line2 {
  z-index: -10;
  width: 100%;
  margin-top: -25%;
  margin-bottom: -6%;
}

/* .blockquote {
  padding: 5% 5% 10% 5%;
  display: flex;
  align-self: center;
  flex-direction: row-reverse;
} */
.PeterWare  {
  width: 40%;
}
img.creator  {
  transform: rotate(3deg);
  width: 100%;
  margin-top: -42%;
  display: flex;
  align-self: flex-start;
}
.scientist {
  width: 200%;
  display: flex;
  flex-direction: row;
}
/* .lastwords {
  align-self: center;
  padding-right: 29px;
  line-height: 25px;
  font-size: 23px;
} */
.lastwords p {
  line-height: 39px;
  font-size: 40px;
  opacity: 0.5;
  text-align: left;
}
h4 {
  margin-top: 10px;
  letter-spacing: 2px;
  align-self: flex-end;
  text-align: right;
  font-size: 25px;
  line-height: 27px;
}
img.background {
  position: absolute;
  opacity: 0.9;
  top: 30%;
  right: -925px;
  transform: rotate(-10deg);
  z-index: -50;
}
img.backgroundunder {
  position: absolute;
  opacity: 0.9;
  top: 40%;
  left: -925px;
  transform: rotate(-10deg);
  z-index: -50;
}
/* ------------------------------------------------------------------------- */

@media all and (max-width: 769px) and (min-width: 200px) {
  .blockquote {
    flex-flow: column-reverse nowrap;
    /* display: flex;
    align-self: center; */
  }
  .scientist {
    flex-direction: column;
  }
  .content {
    height: 100vw;
  }
    /* feet */
  .box1 {
    transform: rotate(10deg);
    /* position: absolute; */
    top: -2%;
    left: -5%;
  }
  .box1 img {
   width: 57%;
  }
  /* jump */
  .box2 {
    z-index: 8;
    position: absolute;
    top: 19%;
    left: 24%;
  }
  .box2 img {
   width: 86%;
  }

  /*  cat*/
  .box3 {
    position: absolute;
    top: -10%;
    left: 37%;
    z-index: 4;
  }
  .box3 img{
   width: 150%;
  }

  /* girl */
  .box4 {
    /* transform: rotate(350deg); */
    position: absolute;
    z-index: 8;
    top: 7%;
    left: 13%;
  }
  .box4 img {
   width: 52%;
  }
  /* .box5 {
    transform: rotate(55deg);
    position: absolute;
    top: 25%;
    left: 40%;
  } */


  /* sunrise */
  .box6 {
    transform: rotate(35deg);
    z-index: -40;
    position: absolute;
    top: 4%;
    left: 15%;
  }
  .box6 img {
    width: 136%;
    /* height: 600px; */
  }

  /* piano */
  .box7 {
    /* transform: rotate(350deg); */
    z-index: -30;
    position: absolute;
    top: 11%;
    left: -46%;
  }
  .box7 img {
    width: 86%;
    /* height: 700px; */
  }
  /* water */
  .box8 {
    z-index: 5;
    position: absolute;
    top: 4%;
    left: 33%;
  }
  .box8 img {
   width: 61%;
  }
  .box9 {
    z-index: 7;
    position: absolute;
    top: 1%;
    left: -42%;
    width: 200%;
  }
  /* .box9 img {
    width: 138%;
    transform: rotate(10deg);
  } */
  .headertext img {
    margin-top: 170px;
    width: 90%;
    align-items: center;
  }

  img.background {
    right: -1000px;
  }
  img.backgroundunder {
    left: -1000px;
  }
  p, .lastwords p, h3 {
    font-size: 25px;
  }
  .lastwords p {
    line-height: 30px;
  }
  .lastwords p {
    text-align: left;
    line-height: 25px;
  }
  .motto p {
    line-height: 25px;
  }
  h2 {
    align-self: center;
    font-size: 100px;
  }
  h4 {
    font-size: 15px;
  }
  .step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
  }
  h3 {
    text-align: center;
  }
}
@media all and (max-width: 1290px) and (min-width: 766px) {
  .headertext img {
    width: 85%;
    margin-top: 6%;
  }
  img.background {
    right: -960px;
  }
  img.backgroundunder {
    left: -960px;
  }
  p, .lastwords p, h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 21px;
  }
  .headertext {
    margin-top: 0 auto;
  }

}
