@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');

body {
  font-family: "FuturaLightC", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 auto;
  background-color: #F2F7F2;
}

*{
  transition: all .3s ease;
}

main {
  overflow: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content {
  display: flex;
  height: 65vw;
  justify-content: center;
  position: relative;
}

.motto {
  align-self: center;
  width: 70vw;
  margin-top: 10px;
}

article {
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-top: 70px;
  width: 60%;
}

.step1, .step3 {
  display: flex;
  flex-direction: row;
}

.step2 {
  display: flex;
  flex-direction: row-reverse;
}

h2 {
  font-size: 270px;
  font-family: 'PT Mono', monospace;
  color: #C01917;
  opacity: 0.7;
  font-weight: bold;
}

h3 {
  font-size: 40px;
  align-self: flex-end;
  margin-bottom: 35px;
  margin-left: 13px;
}

h3.rightside {
  margin-right: 13px;
  width: 90%;
}

.bold {
  font-weight: bold;
}

p {
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 2px;
  opacity: 0.7;
  text-align: center;
}

a {
  font-weight: bold;
  padding-top: 10px;
  font-style: bold;
  color: #BC0100;
  text-decoration: none;
}

a:hover {
  color: black;
}

main .headertext {
  display: flex;
  justify-content: center;
  align-self: center;
}

.headertext img {
  align-items: center;
  width: 100%;
}

.box1 {
  position: absolute;
  top: 5%;
  left: 10%;
}

.box1 img {
 width: 36%;
}

.box2 {
  z-index: 6;
  position: absolute;
  top: 15%;
  left: 40%;
}
.box2 img {
 width: 50%;
}


.box3 {
  position: absolute;
  top: 4%;
  left: 60%;
  z-index: 4;
}

.box3 img{
 width: 90%;
}


.box4 {
  position: absolute;
  z-index: 7;
  top: 10%;
  left: 30%;
}
.box4 img {
 width: 35%;
}


.box6 {
  transform: rotate(35deg);
  z-index: -20;
  position: absolute;
  top: 15%;
  left: 40%;
}

.box6 img {
  width: 90%;
}

.box7 {
  z-index: -30;
  position: absolute;
  top: 8%;
  left: 7%;
}

.box7 img {
  width: 64%;
}

.box8 {
  z-index: 5;
  position: absolute;
  top: 5%;
  left: 45%;
}

.box8 img {
 width: 50%;
}

.box9 {
  z-index: 5;
  position: absolute;
  left: -5%;
  top: 6%;
  width: 110%;
}

img.line2 {
  z-index: -10;
  width: 100%;
  margin-top: -25%;
  margin-bottom: -6%;
}

.PeterWare  {
  width: 40%;
}

img.creator  {
  transform: rotate(3deg);
  width: 50%;
  margin-left: 8%;
  display: flex;
  align-self: center;
}

.scientist p {
  flex-direction: row;
  text-align: left;
  align-self: flex-end;
  line-height: 31px;
  font-size: 30px;
  opacity: 0.9;
  letter-spacing: 0,5px;
  margin-top: 30px;
}

.scientist {
  width: 70vw;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.lastwords {
  align-self: center;
  width: 65vw;
}

h4 {
  margin-top: 10px;
  letter-spacing: 1px;
  align-self: flex-end;
  text-align: right;
  font-size: 22px;
  line-height: 24px;
  margin-bottom: 30px;
  margin-top: 30px;
}

img.background {
  position: absolute;
  opacity: 0.9;
  top: 30%;
  right: -925px;
  transform: rotate(-10deg);
  z-index: -50;
}

img.backgroundunder {
  position: absolute;
  opacity: 0.9;
  top: 40%;
  left: -925px;
  transform: rotate(-10deg);
  z-index: -50;
}

footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 40px 150px 40px 150px;
  flex-direction: row;
}

h5 {
  letter-spacing: 2px;
  color: #C01917;
  font-weight: bold;
}
/* ------------------------------------------------------------------------- */

@media all and (max-width: 766px) and (min-width: 200px) {

  .scientist {
    flex-direction: column-reverse;
  }
  .content {
    height: 100vw;
  }

  .box1 {
    transform: rotate(10deg);
    top: -2%;
    left: -5%;
  }

  .box1 img {
   width: 57%;
  }

  .box2 {
    z-index: 8;
    position: absolute;
    top: 19%;
    left: 24%;
  }

  .box2 img {
   width: 86%;
  }

  .box3 {
    position: absolute;
    top: -10%;
    left: 37%;
    z-index: 4;
  }

  .box3 img{
   width: 150%;
  }

  .box4 {
    position: absolute;
    z-index: 8;
    top: 7%;
    left: 13%;
  }

  .box4 img {
   width: 52%;
  }

  .box6 {
    transform: rotate(35deg);
    z-index: -40;
    position: absolute;
    top: 4%;
    left: 15%;
  }

  .box6 img {
    width: 136%;
  }

  .box7 {
    z-index: -30;
    position: absolute;
    top: 11%;
    left: -46%;
  }

  .box7 img {
    width: 86%;
  }

  .box8 {
    z-index: 5;
    position: absolute;
    top: 4%;
    left: 33%;
  }

  .box8 img {
   width: 61%;
  }

  .box9 {
    z-index: 7;
    position: absolute;
    top: 1%;
    left: -42%;
    width: 200%;
  }

  .headertext img {
    width: 90%;
    align-items: center;
  }

  img.background {
    right: -1000px;
  }

  img.backgroundunder {
    left: -1000px;
  }

  p, h3 {
    font-size: 25px;
  }

  .scientist p {
    line-height: 25px;
    text-align: center;
    font-size: 25px;
  }

  .lastwords {
    margin-right: 0px;
    text-align: left;
    text-align: center;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  .motto p {
    line-height: 25px;
  }

  h2 {
    align-self: center;
    font-size: 100px;
  }

  h4 {
    font-size: 18px;
  }

  .step1, .step2, .step3 {
    display: flex;
    flex-direction: column;
  }

  h3 {
    text-align: center;
  }

  footer {
    margin: 40px 10px 40px 10px;
  }

  h5 {
    font-size: 16px;
  }

  img.backgroundunder {
    top: 33%;
  }
}



@media all and (min-width: 766px) {
  .headertext img {
    width: 85%;
    margin-top: -200px;
  }

  img.background {
    right: -960px;
  }

  img.backgroundunder {
    left: -960px;
  }

  p, .lastwords p, h3 {
    font-size: 35px;
  }

  h4 {
    font-size: 21px;
  }

  .headertext {
    margin-top: 0 auto;
  }

}

@media all and (max-width: 550px) and (min-width: 200px) {
  footer {
    flex-direction: column;
  }

  h5 {
    margin-top: 10px;
  }

  img.background {
    right: -1020px;
  }
  
  img.backgroundunder {
    left: -1020px;
  }
}
